.nav-item a {
  font-size: 20px;
  color: #fff;
  box-shadow: none;
}
.navbar-brand {
  font-size: 30px;
  color: #fff;
}

.navbar-brand:focus,
.navbar-brand:hover {
  color: #fff !important;
}

#Home-Section {
  background: url(../img/hero-bg.jpg);
  /* background-attachment : fixed --> kind of gives an parallax effect */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  min-height: 500px;
  background-position: fixed;
  background-size: cover;
  color: #fff;
}

#Home-Section .container img {
  margin-top: -300px;
  position: fixed;
}

#Home-Section .dark-overlay {
  left: 0;
  width: 100%;
  min-height: 500px;
  background: rgba(0, 0, 0, 0.5);
}

.Home-Inner {
  padding: 100px;
}
.welcome-text {
  color: #fff;
  display: inline-block;
  padding: 13px 30px;
  border-radius: 35px;
  border: 2px solid #fff;
  font-size: 25px;
}

.Home-Inner .btn {
  padding: 12px 17px;
  border-radius: 35px;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
}

.btn:focus,
.btn:hover {
  background-color: #ed284c;
  border: 2px solid #ed284c;
}

.modal-header,
.close {
  background-color: #eb4261;
  color: #fff;
}
.modal-body a {
  text-decoration: none;
  color: grey;
}

.modal-body h4 a.active:hover {
  color: #ed284c !important;
}

.modal-body h4 a:hover {
  color: #ed284c !important;
}

.about-text,
.services-text,
.portfolio-text {
  color: #ed284c;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 35px;
  border: 2px solid #ed284c;
  margin-top: 20px;
  margin-bottom: 20px;
}

.about-inner .row .col-md-6 .learn-more {
  padding: 8px 25px;
  border-radius: 35px;
  color: #ed284c;
  background-color: transparent;
  border: 2px solid #ed284c;
  margin-bottom: 10px;
}

button.learn-more:hover {
  background-color: #ed284c !important;
  border: 2px solid #ed284c !important;
  color: #fff !important;
}
#services-section .card {
  transition: all 1.2s;
}

#services-section .card:hover {
  color: #fff !important;
  background-color: #ed284c !important;
  cursor: pointer !important;
  border-radius: 10px;
}
#callToAction {
  background: url(../img/cta-bg.jpg);
  min-height: 200px;
  color: #fff;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-position: fixed;
  background-size: cover;
  min-height: 250px;
  margin-bottom: 100px;
}

#callToAction .dark-overlay {
  left: 0;
  width: 100%;
  min-height: 250px;
  background: rgba(0, 0, 0, 0.5);
}
#callToAction .container .btn {
  padding: 10px 30px;
  border-radius: 28px;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-size: 25px;
  transition: all 1.2s;
}

#callToAction .container .btn:hover {
  color: #fff;
  background-color: #ed284c;
  border: 2px solid #ed284c;
}
.portfolio-inline {
  display: flex;
  gap: 1rem;
}

.portfolio-inline p {
  font-size: 10px;
  color: #ed284c;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 35px;
  border: 2px solid #ed284c;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: all 1.2s;
}
.portfolio-inline p:hover {
  color: #fff !important;
  background-color: #ed284c !important;
  cursor: pointer !important;
  border-radius: 10px;
}
#portfolio {
  margin-bottom : 100px;
}
#pricing-section .container .btn {
  padding: 10px 30px;
  border-radius: 28px;
  background-color: transparent;
  border: 2px solid #ed284c;
  color: #ed284c;
  font-size: 15px;
  transition: all 1.2s;
}

#pricing-section .container .btn:hover {
  color: #fff !important;
  background-color: #ed284c !important;
  cursor: pointer !important;
  border-radius: 10px;
}